
<aside class="Follows">
    <div class="follows-Title">
        <h2>Siguiendo</h2>
    </div>
    <div class="follows-List">
        <ol>
            <li *ngFor=" let follow of follows"><a href="/Profile/{{follow._id}}">{{follow.name}}</a></li>
        </ol>
    </div>
</aside>
<div class="body-home">
    <a href="/Postview/{{post._id}}" class="ContainerPost" *ngFor="let post of posts">
        <div>
            <div class="Photo-perfil">
                <div>
                    <img src="http://localhost:3000/public/images/{{post.creator_image}}" loading="lazy" alt="">
                </div>
                <h3>{{post.creator_name}}</h3>
            </div>
        </div>
        <div class="img-post">
            <img id="ImagenLoad" src="http://localhost:3000/public/images/{{post.image}}" alt="">
        </div>
        <div class="description-post">
            <h2>{{post.title}}</h2>
            <p>{{post.description}}</p>
        </div>
    </a>
</div>
