/*-------------------UploadImage-------------------*/

.body-home{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
    margin: 0 auto;
    height: 100vh;
    width: 60%;
    
}
.ContainerPost{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;

    border-left:5px solid var(--c2);
    border-right:5px solid var(--c2);
    transition: transform .6s ease;
    border-radius: 10px;
    width: 60%;
    
    height:fit-content;
    padding: 5px 25px;
    background-color: var(--sw);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));
}
.ContainerPost:hover{
    transform: scale3d(1.03,1.03,1.03);
    transition: transform .6s ease;
}
.ContainerPost h2{
    color: var(--c2);
}
.img-post{
    height: 350px;
}
.DefaultImage{
    
    width: 100%;
    height: 340px;
    cursor: pointer;
    object-fit: contain;
    
}
input{
    width: 60%;
    border-radius: 10px;

    padding-left: 15px;
    font-size: 13px;
    height: 35px;
    margin-right: 20px;
}

.description-post textarea{
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 13px;
    resize: none;
    width: 98%;
}
.ButtonSend{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
    background-color: var(--c1);
    border: none;
    color: var(--sw);
    width: 100px;
    height: 37px;
    cursor: pointer;
    transition: all .2s linear;
}
button:hover{
    border: 2px solid var(--c1);
    transition: all .5s ease;
    background-color: var(--sw);
    color: var(--c1);
}

/*-----notificaciones---*/
::ng-deep .custom-snackbar1 {
    border-radius: 2px !important;
    outline: 2px solid var(--c1);
    margin-bottom: 100px !important ;
    --mdc-snackbar-container-color: var(--sw);
    --mdc-snackbar-supporting-text-color: var(--b);
}
::ng-deep .custom-snackbar{
    border-radius: 2px !important;
    outline: 2px solid var(--r);
    margin-bottom: 100px !important ;
    --mdc-snackbar-container-color: var(--sw);
    --mdc-snackbar-supporting-text-color: var(--b);
}
::ng-deep .custom-snackbar button, ::ng-deep .custom-snackbar1 button{
    background-color: var(--c1) !important; 
    color: var(--sw) !important;
}
